@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.sld {
  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 0.5;
}
.image {
  width: 20rem;
  margin: 0 auto;
}

.acSld {
  transform: scale(1.1);
  opacity: 1;
}

.arr {
  /* background-color: #fff; */
  color: #000;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

/* .arrow svg {
  transition: color 300ms;
} */

/* .arrow svg:hover {
  color: #000;
} */

.nxt {
  right: 20%;
  top: 40%;
}

.prv {
  left: 10%;
  top: 50%;
}
